# Godot 4+ specific ignores
.godot/
.sconsign*.dblite

game/addons/godot-osutils/bin/*

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

tests/bin/*